.navbar {
  background-color: red;
  border: 0;
  border-radius: 0;
  margin-bottom: 70px;
}

.nav li a {
  color: white!important;
  text-transform: uppercase;
}

.carousel {
  margin-bottom: 20px;
}

.texts {
  color: #FF6666;
}

.center-images img {
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.glyphicon {
  color: black;
}

@media screen and (max-width: 768px) {
   .navbar {
     margin-bottom: 20px;
   }
}
